<html>
  <head>
    <title>Django Girls blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls blog</a></h1>
    </div>

  {% for post in posts %}
    <div>
      <p>published: {{ post.published_date }}</p>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaks }}</p>
    </div>
  {% endfor %}

    <div>
      <p>published: 01.02.2016, 4:15</p>
      <h2><a href="">My fisrt post</a></h2>
      <p>Another post about how Django is worth learning</p>
    </div>

    <div>
      <p>published: 01.02.2016, 4:15</p>
      <h2><a href="">My second post</a></h2>
      <p>Another post about how Django is worth learning</p>
    </div>
  </body>
</html>
